.main-content{    
    top: -2.2737367544323206e-13px;
    border-radius: 0px;
    position: relative;
    width: 1280px;
    height: 3315px;
    background: #F2F2F2;

}

.site-header {
    position: absolute;
    width: 1060px;
    height: 70px;
    left: 110px;
    top: 0px;
    
    
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: #F2F2F2;
}

.block {
    top: -2.2737367544323206e-13px;   
    width: 1200px;
    height: 70px;
    left: 110px;
    top: 0px;
    margin: auto; 
    position: absolute;   
   /* margin: -125px 0 0 -125px;*/
    background: #fffdfd;
    z-index: 100;
}

li {
    list-style-type: none;
    display: inline;
    margin-left: 19px;
}
li:hover{    
    padding-bottom: 18px;
    border-bottom: 1.2px solid #4d4d4d;
    text-transform: capitalize;
}
.menu-nav{
    position: absolute;
    left: 140px;
    top: 3px; 
}

.small-menu-but {
    position: relative;
    top: -44px;
    left: 600px;
}

.rectangle {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 33px;
    top: -9px;
    background: #7DB54F;
    border-radius: 10px;
}

.menu-btn {
    position: absolute;
    left: 81px;
    top: -12px;
    bottom: 0.24px;
    /* special/warm/light */
    height: 37px;
    width: 160px;
    border-radius: 4px;

    background: #756257;
    border-radius: 4px;
    font-family: PT Sans;

    position: absolute;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.favoritetext {
    position: absolute;
    width: 19.05px;
    height: 13px;
    left: calc(50% - 19.05px/2 + 6px);
    top: calc(50% - 13px/2 - 9px);
    
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    /* identical to box height, or 130% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.1em;
    
    /* basic/white */
    
    color: #FFFFFF;
     
}

.logo {
    z-index: 2;
    position: relative;
}

.list {
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 2;
    position: relative;
}

.container {
    position: relative;
    top:65px;
}
.welcome-pic {
    position: relative;
    top: -471px;
    left: 517px;
}
.welcome1 {
    top: 11px;
    position: relative;
    width: 187px;
}
.welcome2 {
    top: 11px;
    position: relative;
    width: 256px;
    right: 35px;
}
.welcome3 {
    top: 53px;
    position: relative;
    width: 456px;
    right: 117px;
}

.footer-image{
    top: -360px;
    position: relative;
}